<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin</title>
</head>
<body>
<h2 style="color:blue"> Welcome administrator</h2>

<a style="color:red" th:href="@{/Timetable}">Go to your timetable page</a>

<br/>

<a style="color:blue" th:href="@{/Assignments}">View/modify current project asignments</a>

<br/>

<a style="color:blue" th:href="@{/Jobs}">View/modify permission rights</a>

<br/>


<a style="color:blue" th:href="@{/Projects}">View/modify ongoing projects</a>

<br/>

<a style="color:blue" th:href="@{/Users}">View/modify registered users</a>

<br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>