<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Job List</title>

    <link th:href="@{css/bootstrap.min.css}" href="../public/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/font-awesome.min.css}" href="../public/css/font-awesome.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/form-elements.css}" href="../public/css/form-elements.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/style.css}" href="../public/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br>
                    <a class="btn btn-primary" th:href="@{'Jobs/AddJob'}">Add new user</a><br>
                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="row">
                <div class="col-md-10 title">
                    <h2>
                        Job List
                    </h2>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>role</th>
                            <th>edit</th>
                            <th>delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "job: ${jobs}">
                            <td th:text="${job.jobId}">45</td>
                            <td th:text="${job.title}">lid progremar</td>
                            <td th:text="${job.role}">admin</td>
                            <td><a th:href="@{'/Jobs/{jobId}/EditJob'(jobId=${job.jobId})}">edit</a></td>
                            <td><a th:href="@{'/Jobs/{jobId}/deleteJob'(jobId=${job.jobId})}">delete</a></td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{../public/js/jquery-1.11.1.min.js}" rel="text/javascript"></script>
<script th:src="@{../public/js/bootstrap.min.js}" rel="text/javascript"></script>
<script th:src="@{../public/js/jquery.backstretch.min.js}" rel="text/javascript"></script>
<script th:src="@{../public/js/scripts.js}" rel="text/javascript"></script>
</body>
</html>