<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link th:href="@{css/bootstrap.min.css}" href="../public/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/font-awesome.min.css}" href="../public/css/font-awesome.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/form-elements.css}" href="../public/css/form-elements.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/style.css}" href="../public/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/color.css}" href="../public/css/color.css"
          rel="stylesheet" type="text/css" media="screen"/>

</head>
<body>
<title>Assignments List</title>
<div class="container-fluid bkr">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <br>
                <div class="col-md-12 title">
                    <h2 style="color:black; font-weight: bold" class="mrg">
                        Assignments List
                    </h2>
                </div>
            </div>
        </div>
    </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="row">
                        <div class=" clr2 col-md-3 ">
                            <a href="Admin.html "><h3 style="color: #2b669a;  margin-left: 5%" > Go to Admin Page</h3> </a>
                        </div>
                    </div>
                            <a class="btn btn-primary clr5" th:href="@{'Assignments/AddAssignment'}">Add new assignment</a><br>
                </div>
                <div class="col-md-8"></div>
            </div>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>User</th>
                            <th>Project</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "assignment: ${assignments}">
                            <td th:text="${assignment.assignmentId}">4</td>
                            <td th:text="${assignment.name}">Lid programmer</td>
                            <td th:text="${assignment.project}">Admin</td>
                            <td><a th:href="@{'/Assignments/{assignmentId}/EditAssignment'(assignmentId=${assignment.assignmentId})}">edit</a></td>
                            <td><a th:href="@{'/Assignments/{assignmentId}/deleteAssignment'(assignmentId=${assignment.assignmentId})}">delete</a></td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
      </div>
</div>

</body>
</html>