<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link th:href="@{css/bootstrap.min.css}" href="../public/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/font-awesome.min.css}" href="../public/css/font-awesome.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/form-elements.css}" href="../public/css/form-elements.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/style.css}" href="../public/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/color.css}" href="../public/css/color.css"
          rel="stylesheet" type="text/css" media="screen"/>

</head>
<title>Login Failed</title>
<body>
<h1 style="color:red">Access is Denied!</h1>
<a style="color:blue" th:href="@{/}">Go to Home Page</a>
</body>
</html>