<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{css/bootstrap.min.css}" href="../public/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/font-awesome.min.css}" href="../public/css/font-awesome.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/form-elements.css}" href="../public/css/form-elements.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/style.css}" href="../public/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/color.css}" href="../public/css/color.css"
          rel="stylesheet" type="text/css" media="screen"/>


</head>
<body>
<title>Timetable</title>
<div class="container-fluid bkr">
<br><br><br><br><br>
<h2 style="color:#0000ff"> Hello! This is Welcome Page!</h2>
<a style="color:#0000ff" th:href="@{/}">Go to Home Page!</a>
<br/>

<form th:action="@{/logout}" method="post">
<br>
    <input type="submit" style="font-weight: bold" value="Sign Out"/>
</form>
</div>
</body>
</html>